div.beatmania_game {
	width: fit-content;
	height: fit-content;
	min-height: 50vh;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: flex-start;
	justify-content: center;
	align-items: flex-start;
	gap: 20px;
	margin-top: 50px;
	position: relative;
	margin-left: auto;
	margin-right: auto;

	div.pixi-container {
		canvas {
			border: 2px solid #1e1e28;
		}

		div.pause_overlay {
			position: absolute;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			align-content: center;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			gap: 10px;
			backdrop-filter: blur(5px);

			button {
				outline: none;
				border: 1px solid rgba(73, 223, 228, 0.8235294118);
				background: #1e1e28;
				padding: 10px;
				width: 240px;
			}
		}
	}

	*[data-visible="false"] {
		display: none !important;
	}

	button.start_button {
		outline: none;
		border: 1px solid rgba(73, 223, 228, 0.8235294118);
		background: #1e1e28;
		padding: 10px;
		width: 240px;
		position: absolute;
		justify-self: anchor-center;
		top: 50%;
	}

	div.song_listing {
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-content: center;
		justify-content: flex-start;
		align-items: center;
		gap: 10px;

		div.image {
			width: 100%;
			height: 80px;
			display: inline;
			background-position: center;
			background-size: cover;
			filter: brightness(0.5);
		}

		div.metadata {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			align-content: flex-start;
			justify-content: center;
			align-items: flex-start;
			gap: 10px;
		}
	}

	div.map_background {
		width: 100%;
		background-position: center;
		background-size: cover;
		height: 340px;
		filter: brightness(0.5);
	}

	div.column {
		position: absolute;
		width: 560px;

		&.left {
			left: 15vw;
		}

		&.right {
			right: 15vw;
		}
	}

	div.container {
		background-color: #0a0a0c;
		padding: 15px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-content: flex-start;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 10px;
		border: 2px solid #1e1e28;
		box-shadow: 0 0 5px #1e1e28;
		width: 100%;
		box-sizing: border-box;
	}

	span.text {
		color: white;
		-webkit-text-stroke: 1px rgba(73, 223, 228, 0.8235294118);
		text-shadow: 0 0 5px rgba(73, 223, 228, 0.8235294118);

		&.medium {
			font-size: 1.2rem;
			font-weight: bolder;
		}

		&.big {
			font-size: 1.5rem;
			font-weight: bolder;
		}
	}
}
