div.song_selection_page {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: flex-start;
	justify-content: flex-start;
	align-items: stretch;

	div.song_carousel {
		width: 60%;
		height: 100%;
	}
}
