@keyframes float {
	0% {
		transform: translatey(0px);
		background-position-y: 0;
	}
	50% {
		transform: translatey(-20px);
		background-position-y: 10px;
	}
	100% {
		transform: translatey(0px);
		background-position-y: 0px;
	}
}

div.home_layout {
	width: calc(100% - 40px);
	padding: 0px 20px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
	max-width: 1200px;
	margin: 0px auto;
	gap: 100px;

	div.header_section {
		margin-top: 50px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-content: center;
		justify-content: flex-start;
		align-items: center;

		* {
			user-select: none;
		}

		div.texts {
			margin-left: 10%;

			h1 {
				color: #93d2d4;
				font-weight: 700;
				font-size: 84px;
				text-shadow: 0 0 120px #299ba5;
				margin: 0px;
			}

			div.hobbies {
				width: 100%;
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				align-content: center;
				justify-content: flex-start;
				align-items: center;
				gap: 10px;

				span {
					font-weight: 700;
					padding: 0px 5px;
					border-radius: 0.3rem;

					&:nth-child(1) {
						--c: #2d79c7;
					}

					&:nth-child(2) {
						--c: #fd96e7;
					}

					&:nth-child(3) {
						--c: #fd9696;
					}

					background: oklch(from var(--c) calc(l * 0.75) c h / 0.5);
					color: oklch(from var(--c) calc(l * 1) c h);
				}
			}

			div.about {
				color: #e6feff;
				font-weight: 500;
				margin-top: 20px;
				font-size: 18px;
			}
		}

		img.miku {
			width: 33%;
			background: radial-gradient(#299ba5 -130%, transparent 70%);
			animation: float 6s ease-in-out infinite;
			overflow: visible;
		}
	}

	div.social_section {
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-content: flex-start;
		justify-content: flex-start;
		align-items: flex-start;

		h1.title {
			color: rgb(235 235 245 / 60%);
		}

		@media all and (max-width: 600px) {
			div.list {
				flex-direction: column !important;
				flex-wrap: nowrap !important;
				align-content: center !important;
				justify-content: flex-start !important;
				align-items: center !important;
				gap: 10px !important;

				div.social_card {
					width: 80% !important;
				}
			}

			div.see_more {
				margin-top: 0px;
			}
		}

		div.list {
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-content: center;
			justify-content: flex-start;
			align-items: center;
			gap: 40px;
		}
	}

	div.see_more {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-content: center;
		justify-content: center;
		align-items: center;
		margin-top: 10vh;
		user-select: none;

		color: #93d2d424;

		div.bar {
			width: 100%;
			height: 3px;
			border-radius: 1000px;
			background-color: currentColor;
		}

		span {
			margin: 0px 10px;
			padding: 2px 10px;
			color: white;
			min-width: fit-content;
			border-radius: 1000px;
			background-color: #49dfe4d2;
		}
	}

	div.about_section {
		width: 80%;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-content: flex-start;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 10px;

		h1.title {
			color: rgb(253 150 231);
			text-shadow: 0 0 54px rgb(233 132 212 / 73%);
		}

		div.horizontal_split {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-content: center;
			justify-content: space-between;
			align-items: center;
			gap: 20px;

			div.text {
				color: white;
				width: 40%;
				line-height: 27px;
				font-size: 20px;

				span.name {
					background-color: #299ba5;
					padding: 1px 5px;
					border-radius: 0.3rem;
					color: #e8fdff;
				}

				a {
					--pseudo-opacity: 1;
					color: #fd96e7;
					position: relative;
					text-shadow: 0 0 11px rgb(237 160 221);
					text-align: center;
					text-decoration: none;
					vertical-align: middle;
					background-color: transparent;
					padding: 1px 5px;
					border-radius: 0.3rem;
					transition: cubic-bezier(0.39, 0.8, 0.76, 0.92) 500ms;

					&::after {
						content: "";
						position: absolute;
						width: calc(100% - 10px);
						height: 2px;
						left: 5%;
						bottom: 1px;
						border-radius: 1000px;
						background-color: currentColor;
						opacity: var(--pseudo-opacity);
						transition: cubic-bezier(0.39, 0.8, 0.76, 0.92) 400ms;
					}

					span.background {
						z-index: -1;
						position: absolute;
						left: 0;
						top: 0;
						width: 0%;
						height: 100%;
						background-color: #fd96e7;
						transition: cubic-bezier(0.39, 0.8, 0.76, 0.92) 240ms;
						border-radius: 0.3rem;
					}

					&:hover {
						color: #963681;
						--pseudo-opacity: 0;

						span.background {
							width: 100%;
						}
					}
				}
			}

			img.miku {
				min-width: fit-content;
				max-width: 240px;
				background: radial-gradient(#4ba2a852 0%, transparent 64%);
				animation: float 6s ease-in-out infinite;
			}
		}

		@media all and (max-width: 600px) {
			div.horizontal_split {
				display: flex;
				flex-direction: column-reverse;
				flex-wrap: nowrap;
				align-content: center;
				justify-content: space-between;
				align-items: center;
				gap: 20px;

				div.text {
					color: white;
					width: 100%;
					line-height: 27px;
					font-size: 20px;
				}
			}
		}
	}
}
