@use "sass:math";

@media all and (max-width: 1200px) {
	nav.navbar {
		align-content: center !important;
		justify-content: center !important;
		align-items: center !important;
	}
}

nav.navbar {
	width: calc(100% - 50px);
	padding: 20px 25px;
	background: #00000000;
	// border-bottom: 1px solid var(--background8);
	backdrop-filter: blur(50px);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
	gap: 17px;

	a {
		--underline-width: 0%;
		--underline-color: #ffffff;

		text-decoration: none;
		font-weight: 700;
		position: relative;
		color: white;
		transition: cubic-bezier(0.39, 0.8, 0.76, 0.92) 200ms;

		&:hover {
			--underline-width: 100%;
			--underline-color: #299ba5;
			color: var(--underline-color);
		}

		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			height: 2px;
			width: var(--underline-width);
			background-color: var(--underline-color);
			transition: cubic-bezier(0.39, 0.8, 0.76, 0.92) 200ms;
			border-radius: 1000px;
		}
	}
}
