div.getting_started_overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(12px);
	z-index: 99999999;
	background-color: #00000099;
}
